body, html {
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    width: 500px;
    height: 500px;
}

.row {
    display: flex;
    flex-grow: 1;
}

.grid {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: -1px;
    background-color: white;
    flex-grow: 1;
    width: 10px;
}