body, html {
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 500px;
    height: 500px;
}

.row {
    display: flex;
    flex-grow: 1;
}

.grid {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    flex-grow: 0;
    width: 100px;
}